* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  /* font-family: 'Courier New', Courier, monospace; */
  font-family: 'Patrick Hand', cursive;
  background-color: rgb(243, 156, 18);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#footer {
  position: absolute;
  bottom: 10px;
  /* margin-top: 1rem; */
  margin-left: 200px;
  margin-right: 200px;
  font-size: 0.9rem;
  color: #ffffff;
  text-align: center;
  display: inline-block;
}

#footer a {
  color: #ffffff;
}
